body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkmagenta;
    background-color: beige;
}
footer {
    color: black;
    
}

h2 {
    color: magenta;
}

li {
    color: crimson;
}